<div>
  <form
    *ngIf="!submitted"
    name="form"
    (ngSubmit)="f.form.valid && saveItem()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="item.name"
        name="name"
        #name="ngModel"
        minlength="3"
        maxlength="100"
      />
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="name.errors && f.submitted"
    >
      <div *ngIf="name.errors.required">Name is required!</div>
      <div *ngIf="name.errors.minlength">
        Name must have at least 3 characters
      </div>
      <div *ngIf="name.errors.maxlength">
        Name must have at most 100 characters
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        required
        [(ngModel)]="item.price"
        name="price"
        min="0.00"
        step="0.01"
        #price="ngModel"
      />
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="price.errors && f.submitted"
    >
      <div *ngIf="price.errors.required">Price is required!</div>
      <div *ngIf="price.errors.min">Price must be a positive number!</div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        required
        [(ngModel)]="item.description"
        name="description"
        rows="6"
        #description="ngModel"
        minlength="3"
        maxlength="1000"
      ></textarea>
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="description.errors && f.submitted"
    >
      <div *ngIf="description.errors.required">Description is required!</div>
      <div *ngIf="description.errors.minlength">
        Description must have at least 3 characters
      </div>
      <div *ngIf="description.errors.maxlength">
        Description must have at most 1000 characters
      </div>
    </div>

    <div class="form-group">
      <label for="is_published">Publish</label>
      <input
        type="checkbox"
        class="form-control"
        id="is_published"
        [(ngModel)]="item.is_published"
        name="is_published"
        #is_published="ngModel"
      />
    </div>

    <button class="btn btn-success">Submit</button>
  </form>
  <p>{{ message }}</p>
</div>
