<div>
  <div *ngIf="currentItem.id" class="edit-form">
    <h4>Item</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentItem.name"
          name="name"
          required
          #name="ngModel"
        />
        <div 
          class="alert alert-danger"
          role="alert"
          *ngIf="name.errors"
        >
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          [(ngModel)]="currentItem.price"
          name="price"
          min="0.00"
          step="0.01"
          required
          #price="ngModel"
        />
        <div 
          class="alert alert-danger"
          role="alert"
          *ngIf="price.errors"
        >
          Price is required.
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentItem.description"
          name="description"
          required
          #description="ngModel"
        />
        <div 
          class="alert alert-danger"
          role="alert"
          *ngIf="description.errors"
        >
          Description is required.
        </div>
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentItem.is_published ? "Published" : "Unpublished" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentItem.is_published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentItem.is_published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteItem()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateItem()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentItem.id">
    <br />
    <p>Cannot access this Item...</p>
  </div>
</div>