<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="retrieveItems()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
      *ngIf="items[0]"
    ></pagination-controls>
  </div>

  <div class="col-md-6">

    <div *ngIf="!items[0]">
      <br />
      <p>No items found.</p>
    </div>
    <ul class="list-group">
      <app-item-card
        class="list-group-item"
        *ngFor="
          let item of items
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
        "
        [item]="item"
      ></app-item-card>
    </ul>
  </div>
</div>
